* {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    padding: 0;
    padding-top: 70px;
    margin: 0 !important;
}

.white-bg {
    background-color: white;
    margin: 0;
    padding: 0 !important;
}

/* ----- Reveal animation ------ */
.reveal {
    position: relative;
    transform: translateY(50px);
    opacity: 0;
    transition: 1s all ease;
}

.reveal.active {
    transform: translateY(0);
    opacity: 1;
}

/* ------ --------------- ------ */


/* ----- Slide in animations ----- */
/***** Global Slide *****/
.slide-right,
.slide-left {
    width: 100%;
}

/***** Slide Right *****/
.slide-right {
    animation: 1.5s slide-right;
}

@keyframes slide-right {
    from {
        opacity: 0;
        margin-left: -10%;
    }

    to {
        opacity: 1;
        margin-left: 0%;
    }
}

/***** Slide Left *****/
.slide-left {
    animation: 1.5s slide-left;
}

@keyframes slide-left {
    from {
        opacity: 0;
        margin-left: 10%;
    }

    to {
        opacity: 1;
        margin-left: 0%;
    }
}
/* ----------------------------- */



.left-align {
    text-align: left !important;
}

.whatsapp p {
    margin: 0;
}

.whatsapp {
    border: none;
    border-radius: 5px;
    margin: 0;
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: white;
    font-size: 1.2rem;
    font-weight: 400;
    z-index: 1;
    left: 0px;
    bottom: 100px;
    filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.5));
    transform: rotate(270deg) translateY(100%);
    transform-origin: bottom left;
    padding: 0.2% 1.5%;
}

.fa-whatsapp {
    margin: 0;
    padding: 0;
    font-size: 1.8rem;
    margin: 0 15px 0 0;
}

.Parallax {
    background-image: url(../media/Parallax.webp);
    min-height: 100%;
    position: relative;
    /* opacity: 0.70; */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.navbar {
    color: white;
    background: #002147;
    height: 10vh;
    padding: 2%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.65);
}


.navbar-brand {
    height: 100%;
    display: flex;
    align-items: center;
    color: white;
}

.navbar-brand span {
    color: white;
    margin-left: 20px;
    font-size: 1.1rem;
    font-weight: 500;
}

.navbar-brand img {
    max-height: 50px;
}

.navItems a {
    text-decoration: none;
    color: white;
}

.navItems a:hover {
    color: #ff5100;
}

.navItems ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    padding: 0;
}

.navItems li {
    margin: 0 15px;
}


.navPhone {
    opacity: 0;
    left: -100%;
    height: 0;
}

/* Navbar Toggler */

.navToggler {
    display: none;
}

#check {
    display: none;
}

.button {
    width: 48px;
    height: 48px;
    background: #4747ee2c;
    border-radius: 100px;
    padding: 12px;
    display: inline-block;
    cursor: pointer;
    transition: all 0.2s ease-in;
    padding-top: 7px;
    line-height: 8px;
    text-align: left;
    z-index: 201;
}

.button span {
    height: 3px;
    width: 100%;
    background: white;
    display: inline-block;
    transition: all 0.5s cubic-bezier(.62, .43, .35, 1.47);
}


/* toggle icon animation */
#check:checked~.button span:nth-child(1) {
    width: 100%;
    transform: rotate(45deg) translateY(6px) translateX(6px);
}

#check:checked~.button span:nth-child(2) {
    width: 0;
}

#check:checked~.button span:nth-child(3) {
    width: 100%;
    transform: rotate(-45deg) translateY(-7px) translateX(7px);
}

/* the nav height will be set to the height in pixels that would have for default, using height:auto won't work but you can put that value in pixels creating the slide*/
#check:checked~nav {
    height: 144px;
}

#check:checked~nav a {
    padding: 10px;
    opacity: 1;
    transform: scale(1);
}

img {
    width: 100%;
    height: auto;
}

.swiper .swiper-button-prev,
.swiper .swiper-button-next {
    color: rgba(255, 255, 255, 0.69);
}

.swiper .swiper-pagination-bullet-active {
    background-color: white;
}

.head-welcome {
    font-size: 1.5rem;
    font-weight: 600;
    color: #ff5100;
}

.head-type {
    font-size: 6rem;
}

#cursor {
    font-weight: 300;
    animation: blink 1s linear infinite;
}

@keyframes blink {
    0% {
        opacity: 100%;
    }

    50% {
        opacity: 0%;
    }
}


.arrow {
    z-index: 2;
    text-align: center;
    margin: 0;
}

.arrow a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.3);
}

.bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-30px);
    }

    60% {
        transform: translateY(-15px);
    }
}





.about {
    background-color: white;
    /* background-image: url(/media/bg-about.webp); */
    margin: 0;
    min-width: 100%;
    line-height: 180%;
    padding-bottom: 2% !important;
    margin-bottom: 0 !important;
}

.about h1 {
    line-height: 130%;
    font-weight: 600;
    color: #4748EE;
}


.demo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: black;
    text-align: center;
    background-color: #FFC436;
    padding: 5%;
    padding-top: 1%;
    padding-bottom: 2%;
    margin-left: 0;
    margin-right: 0;
    min-width: 100%;
    font-size: 1.5rem;
    box-shadow: 0 4px 8px rgb(0, 0, 0)
}

.demo-item {
    text-align: left;
    gap: 100px;
}

.demo h2 {
    font-size: 2.5rem;
    font-weight: 600;
}

.demo p {
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 2%;
}

.demo button {
    background-color: black;
    color: white;
    padding: 2%;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s, transform 0.3s;
}

.demo button:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.848);
    transform: scale(1.02);
}


.courses {
    color: white;
    text-align: center;
    background-color: #002147bb;
    padding: 5%;
    padding-top: 1%;
    padding-bottom: 2%;
    margin-left: 0;
    margin-right: 0;
    min-width: 100%;
}

.card {
    width: 90%;
    min-height: 160px;
    padding: 2%;
    margin: 5% auto 10%;
    padding-bottom: 0;
}

.card-img-top {
    width: 100%;
}

.card-body h5 {
    padding: 1%;
    font-size: 1.2rem;
    font-weight: 500;
}

.card .btn {
    border-radius: 0px;
    padding: 1% 4%;
    width: 100%;
    background-color: #4748EE;
}

.syllabus {
    background-color: white;
    margin: 0;
    padding: 7%;
    min-width: 100%;
    padding-bottom: 5% !important;
}

.syllabus h2 {
    padding-left: 0;
    color: black;
}

.syllabus p {
    padding-left: 0;
}

.syllabus .row {
    margin-top: 5%;
}

.syllabus-link {
    margin: 0 auto;
    border-radius: 20px;
    padding: 0.5% 2%;
    font-weight: 300;
    background-color: #4748EE;
    max-width: fit-content;
    text-decoration: none;
    font-size: 1.2rem;
    cursor: pointer;
}

.syllabus-link:hover {
    color: black;
}

table {
    font-size: 0.9rem;
}

table,
td {
    border: 0.2px solid black;
    border-collapse: collapse;
    text-align: center;
    padding: 0.5% 0.5%;
}

th {
    color: white;
    background-color: #4748EE;
    border: 0.2px solid rgb(255, 255, 255);
    font-weight: 500;
}

.guidance {
    color: white;
    text-align: center;
    background-color: #001a38d1;
    padding: 5%;
    padding-top: 1%;
    padding-bottom: 4%;
    margin-left: 0;
    margin-right: 0;
    min-width: 100%;
}

.guide-text {
    text-align: left;
    padding: 5%;
    padding-top: 2%;
    line-height: 200%;
}

.guide-text h4 {
    font-weight: 500;
}

.guide-text p {
    font-weight: 300;
}

.whatsapp-chat {
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    padding: 2% 5%;
    /* justify-content: center; */
    align-items: center;
    max-height: fit-content;
    background: rgba(255, 255, 255, 0.181);
    color: white;
    margin-bottom: 5%;
}

.whatsapp-chat p {
    margin: 0;
}

.form-box {
    min-width: fit-content;
    border: solid 1px white;
    border-radius: 20px;
}

.form-div {
    margin: 0 auto;
    width: 50%;
}

input {
    color: white;
    background-color: rgba(0, 0, 0, 0.243);
}

.form-label {
    margin-bottom: 0;
}

.form-control {
    text-align: center;
    border: none;
    border-radius: 0;
    border-bottom: solid 1px white;
    color: white;
    background-color: rgba(0, 0, 0, 0);
}


.form-control:focus {
    color: white;
    background-color: rgba(0, 0, 0, 0.612);
}

.form-field {
    text-align: left;
}

.form-div input {
    color: white;
    background-color: rgba(0, 0, 0, 0);
    margin: 0 auto;
}

.form-div textarea {
    color: white;
    background-color: rgba(0, 0, 0, 0);
    margin: 0 auto;
    border: solid 1px white;
    text-align: left;
}

.call-a {
    text-decoration: none;

    color: #4748EE;
}


.call-now h1 {
    color: #002147;
}

.btn-warning {
    padding: 1% 2%;
    font-size: 1.8rem;
    color: rgb(0, 0, 0);
    border-radius: 100px;
}

.btn-warning:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.848);
    transform: scale(1.02);
}


.footer {
    /* background: url(/media/10139763.jpg);
    background-size: cover;
    background-repeat: no-repeat; */
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.4),
            rgba(0, 0, 0, 0.4)),
        url(/media/footer.webp);
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 3%;
    margin-left: 0;
    margin-right: 0;
    min-width: 100%;
}

b {
    font-weight: 500;
}

.copyright {
    background-color: black;
    color: white;
    padding: 1% 3%;
    min-width: 100%;
}

.dev-link {
    text-decoration: none;
    color: #0d6efd;
}

hr {
    display: none;
}

.has-floating-animation .is-floating-animated {
    animation: float-up-down 2s ease-in-out infinite both;
}

@keyframes float-up-down {
    0% {
        -webkit-transform: translateY(0)
    }

    50% {
        -webkit-transform: translateY(-5%);
        transform: translateY(-5%)
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}
















/* Syllabus Page */
.header {
    background-color: white;
    background-image: url(/media/bg-doodles-01.png);
    margin-top: 5%;
    text-align: center;
    padding: 5% 4%;
}

.header h1 {
    color: #4748EE;
    font-weight: 600;
    font-size: 3rem;
}

.header a {
    text-decoration: none;
}

.syllabus {
    text-align: left;
}





@media (max-width: 767px) {

    .navItems {
        display: none;
    }

    .navToggler {
        display: block;

    }

    /*  */
    .navPhone {
        z-index: 5;
        text-align: center;
        padding: 10%;
        padding-bottom: 5%;
        position: fixed;
        background-color: #00214798;
        backdrop-filter: blur(20px);
        height: fit-content;
        width: 80%;
        transition: opacity 0.5s;
        border-radius: 5px;
        transition: all 0.5s ease-in-out;
    }

    .navPhone hr {
        color: white;
    }


    .navPhone a {
        text-decoration: none;
        color: white;
    }

    .navPhone ul {
        list-style-type: none;
        /* margin: 0; */
        padding: 0;
    }

    .navPhone li {
        margin: 10% 0;
    }

    /*  */

    .navbar {
        padding: 0;
    }

    a.navbar-contact {
        display: none;
    }

    .navbar-brand {
        margin: 0 auto;
    }

    .whatsapp {
        padding: 0.2% 3%;
        font-size: 1.1rem;
    }

    .swiper {
        margin-top: 20px;
    }

    .arrow.bounce {
        display: none;
    }

    .syllabus .row {
        margin-top: 10%;
    }

    .head-welcome {
        display: flex;
        flex-direction: column;
        font-weight: 500;
        font-size: 1.2rem;
    }

    .head-type {
        height: 130px;
    }

    .about h1 {
        font-size: 3.3rem;
    }

    .about p {
        line-height: 1.6rem;
        font-size: 0.9rem;
    }

    .about .row {
        margin-top: 0 !important;
    }

    .demo {
        flex-direction: column;
        align-items: center;
    }

    .demo-item {
        margin: 3% 0;
        text-align: center;
    }

    .demo-item h2 {
        font-size: 3rem;
    }

    .demo button {
        margin-top: 5%;
        padding: 5%;
    }

    .syllabus {
        padding: 10%;
        padding-bottom: 15% !important;
    }

    .syllabus-link {
        font-size: 1rem;
        padding: 2% 5%;
    }

    .guidance {
        margin: 0 auto;
        padding: 10% 6% 20% 6% !important;
    }

    .whatsapp-chat {
        margin: 30px auto;
    }

    .form-box {
        padding: 0 10%;
        margin: 0;
        min-width: 100%;
    }

    .form-div {
        width: 100%;
        margin: 0;
    }

    .copyright .row {
        line-height: 150%;
        text-align: center;
    }

    .call-btn {
        font-size: 1.5rem;
        padding: 5% 10%;
    }

    .copyright {
        padding: 4%;
    }

    hr {
        display: block;
    }

    .foot-contact {
        padding-bottom: 7%;
    }

    .footer {
        padding: 10%
    }











    /* Syllabus Page */
    .header h1 {
        font-size: 1.5rem;
    }
}